html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 65px;
  margin-bottom: 75px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  opacity: 0.8;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
}

footer > .container > div {
  margin: 20px 0px;
}

#middle {
  text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#picture {
  border-radius: 40px;
}

#contactInfo {
  font-size: 36px;
}

.fa {
  color: gray;
}

.fa:hover {
  color: gray;
  cursor: pointer;
}