html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 65px;
  margin-bottom: 75px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif; 
  font-weight: 300;
  opacity: 0.8;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
}

footer > .container > div {
  margin: 20px 0px;
}

.container > .row {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 40px;
  height: auto;
  width: auto;
}

.contact-info {
  font-size: 36px;
}

.contact-info > a > .fa:hover {
    color: #000;
}

.fa {
  color: gray;
}